**Projet Data Analysis_R**

L’analyse de la personnalité des clients est une analyse détaillée des clients idéaux d’une entreprise. Elle aide une entreprise à mieux comprendre ses clients et lui permet de modifier plus facilement ses produits en fonction des besoins, comportements et préoccupations spécifiques des différents types de clients.

L’analyse de la personnalité des clients aide une entreprise à adapter son produit en fonction de ses clients cibles provenant de différents segments de clientèle. Par exemple, au lieu de dépenser de l’argent pour commercialiser un nouveau produit auprès de tous les clients de la base de données de l’entreprise, une entreprise peut analyser quel segment de clientèle est le plus susceptible d’acheter le produit et ensuite commercialiser le produit uniquement auprès de ce segment particulier.

données :
*People

    ID: Customer's unique identifier
    Year_Birth: Customer's birth year
    Education: Customer's education level
    Marital_Status: Customer's marital status
    Income: Customer's yearly household income
    Kidhome: Number of children in customer's household
    Teenhome: Number of teenagers in customer's household
    Dt_Customer: Date of customer's enrollment with the company
    Recency: Number of days since customer's last purchase
    Complain: 1 if the customer complained in the last 2 years, 0 otherwise

*Products

    MntWines: Amount spent on wine in last 2 years
    MntFruits: Amount spent on fruits in last 2 years
    MntMeatProducts: Amount spent on meat in last 2 years
    MntFishProducts: Amount spent on fish in last 2 years
    MntSweetProducts: Amount spent on sweets in last 2 years
    MntGoldProds: Amount spent on gold in last 2 years

*Promotion

    NumDealsPurchases: Number of purchases made with a discount
    AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
    AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
    AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
    AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
    AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
    Response: 1 if customer accepted the offer in the last campaign, 0 otherwise

*Place

    NumWebPurchases: Number of purchases made through the company’s website
    NumCatalogPurchases: Number of purchases made using a catalogue
    NumStorePurchases: Number of purchases made directly in stores
    NumWebVisitsMonth: Number of visits to company’s website in the last month

Questions :

Qualité du jeu de données proposé? Un pre-processing des données est-il nécessaire? Comment se comportent les différentes variables entre elles? Les achats dépendent-ils du style de vie de l'acheteur (famille, marié, revenu etc)? Les promotions proposées sont elles efficaces ? Sur quels types de clients ? Sur quels types de produits ? Quels endroits de ventes sont le plus utilisés ? Sur quels types de clients ? Sur quels types de produits ? Des profils de clients se dessinent-ils ? Si oui, quels types de clients, quels types d'achats, grace à quels endroits de ventes ?

ERROR: Error in library(ggplot2): there is no package called 'ggplot2'

In [28]:
data <- read.csv("marketing_campaign.csv", header=TRUE, sep="\t")
head(data)

  ID   Year_Birth Education  Marital_Status Income Kidhome Teenhome Dt_Customer
1 5524 1957       Graduation Single         58138  0       0        04-09-2012
2 2174 1954       Graduation Single         46344  1       1        08-03-2014
3 4141 1965       Graduation Together       71613  0       0        21-08-2013
4 6182 1984       Graduation Together       26646  1       0        10-02-2014
5 5324 1981       PhD        Married        58293  1       0        19-01-2014
6 7446 1967       Master     Together       62513  0       1        09-09-2013
  Recency MntWines ... NumWebVisitsMonth AcceptedCmp3 AcceptedCmp4 AcceptedCmp5
1 58      635      ... 7                 0            0            0
2 38       11      ... 5                 0            0            0
3 26      426      ... 4                 0            0            0
4 26       11      ... 6                 0            0            0
5 94      173      ... 5                 0            0            0
6 16      520      ... 6                 0            0            0
  AcceptedCmp1 AcceptedCmp2 Complain Z_CostContact Z_Revenue Response
1 0            0            0        3             11        1
2 0            0            0        3             11        0
3 0            0            0        3             11        0
4 0            0            0        3             11        0
5 0            0            0        3             11        0
6 0            0            0        3             11        0

In [4]:
summary(data)

       ID          Year_Birth        Education     Marital_Status
 Min.   :    0   Min.   :1893   2n Cycle  : 203   Married :864
 1st Qu.: 2828   1st Qu.:1959   Basic     :  54   Together:580
 Median : 5458   Median :1970   Graduation:1127   Single  :480
 Mean   : 5592   Mean   :1969   Master    : 370   Divorced:232
 3rd Qu.: 8428   3rd Qu.:1977   PhD       : 486   Widow   : 77
 Max.   :11191   Max.   :1996                     Alone   :  3
                                                  (Other) :  4
     Income          Kidhome          Teenhome          Dt_Customer
 Min.   :  1730   Min.   :0.0000   Min.   :0.0000   31-08-2012:  12
 1st Qu.: 35303   1st Qu.:0.0000   1st Qu.:0.0000   12-05-2014:  11
 Median : 51382   Median :0.0000   Median :0.0000   12-09-2012:  11
 Mean   : 52247   Mean   :0.4442   Mean   :0.5062   14-02-2013:  11
 3rd Qu.: 68522   3rd Qu.:1.0000   3rd Qu.:1.0000   20-08-2013:  10
 Max.   :666666   Max.   :2.0000   Max.   :2.0000   22-05-2014:  10
 NA's   :24                                         (Other)   :2175
    Recency         MntWines         MntFruits     MntMeatProducts
 Min.   : 0.00   Min.   :   0.00   Min.   :  0.0   Min.   :   0.0
 1st Qu.:24.00   1st Qu.:  23.75   1st Qu.:  1.0   1st Qu.:  16.0
 Median :49.00   Median : 173.50   Median :  8.0   Median :  67.0
 Mean   :49.11   Mean   : 303.94   Mean   : 26.3   Mean   : 166.9
 3rd Qu.:74.00   3rd Qu.: 504.25   3rd Qu.: 33.0   3rd Qu.: 232.0
 Max.   :99.00   Max.   :1493.00   Max.   :199.0   Max.   :1725.0

 MntFishProducts  MntSweetProducts  MntGoldProds    NumDealsPurchases
 Min.   :  0.00   Min.   :  0.00   Min.   :  0.00   Min.   : 0.000
 1st Qu.:  3.00   1st Qu.:  1.00   1st Qu.:  9.00   1st Qu.: 1.000
 Median : 12.00   Median :  8.00   Median : 24.00   Median : 2.000
 Mean   : 37.53   Mean   : 27.06   Mean   : 44.02   Mean   : 2.325
 3rd Qu.: 50.00   3rd Qu.: 33.00   3rd Qu.: 56.00   3rd Qu.: 3.000
 Max.   :259.00   Max.   :263.00   Max.   :362.00   Max.   :15.000

 NumWebPurchases  NumCatalogPurchases NumStorePurchases NumWebVisitsMonth
 Min.   : 0.000   Min.   : 0.000      Min.   : 0.00     Min.   : 0.000
 1st Qu.: 2.000   1st Qu.: 0.000      1st Qu.: 3.00     1st Qu.: 3.000
 Median : 4.000   Median : 2.000      Median : 5.00     Median : 6.000
 Mean   : 4.085   Mean   : 2.662      Mean   : 5.79     Mean   : 5.317
 3rd Qu.: 6.000   3rd Qu.: 4.000      3rd Qu.: 8.00     3rd Qu.: 7.000
 Max.   :27.000   Max.   :28.000      Max.   :13.00     Max.   :20.000

  AcceptedCmp3      AcceptedCmp4      AcceptedCmp5      AcceptedCmp1
 Min.   :0.00000   Min.   :0.00000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.00000   Median :0.00000   Median :0.00000   Median :0.00000
 Mean   :0.07277   Mean   :0.07455   Mean   :0.07277   Mean   :0.06429
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.00000   Max.   :1.00000

  AcceptedCmp2        Complain        Z_CostContact   Z_Revenue
 Min.   :0.00000   Min.   :0.000000   Min.   :3     Min.   :11
 1st Qu.:0.00000   1st Qu.:0.000000   1st Qu.:3     1st Qu.:11
 Median :0.00000   Median :0.000000   Median :3     Median :11
 Mean   :0.01339   Mean   :0.009375   Mean   :3     Mean   :11
 3rd Qu.:0.00000   3rd Qu.:0.000000   3rd Qu.:3     3rd Qu.:11
 Max.   :1.00000   Max.   :1.000000   Max.   :3     Max.   :11

    Response
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.1491
 3rd Qu.:0.0000
 Max.   :1.0000

Transformation des données:

In [6]:
data<-data[,-27] #on enleve Zcontact et Zrevenue pcq ce sont des constantes
data<-data[,-27]
summary(data)

       ID          Year_Birth        Education     Marital_Status
 Min.   :    0   Min.   :1893   2n Cycle  : 203   Married :864
 1st Qu.: 2828   1st Qu.:1959   Basic     :  54   Together:580
 Median : 5458   Median :1970   Graduation:1127   Single  :480
 Mean   : 5592   Mean   :1969   Master    : 370   Divorced:232
 3rd Qu.: 8428   3rd Qu.:1977   PhD       : 486   Widow   : 77
 Max.   :11191   Max.   :1996                     Alone   :  3
                                                  (Other) :  4
     Income          Kidhome          Teenhome          Dt_Customer
 Min.   :  1730   Min.   :0.0000   Min.   :0.0000   31-08-2012:  12
 1st Qu.: 35303   1st Qu.:0.0000   1st Qu.:0.0000   12-05-2014:  11
 Median : 51382   Median :0.0000   Median :0.0000   12-09-2012:  11
 Mean   : 52247   Mean   :0.4442   Mean   :0.5062   14-02-2013:  11
 3rd Qu.: 68522   3rd Qu.:1.0000   3rd Qu.:1.0000   20-08-2013:  10
 Max.   :666666   Max.   :2.0000   Max.   :2.0000   22-05-2014:  10
 NA's   :24                                         (Other)   :2175
    Recency         MntWines         MntFruits     MntMeatProducts
 Min.   : 0.00   Min.   :   0.00   Min.   :  0.0   Min.   :   0.0
 1st Qu.:24.00   1st Qu.:  23.75   1st Qu.:  1.0   1st Qu.:  16.0
 Median :49.00   Median : 173.50   Median :  8.0   Median :  67.0
 Mean   :49.11   Mean   : 303.94   Mean   : 26.3   Mean   : 166.9
 3rd Qu.:74.00   3rd Qu.: 504.25   3rd Qu.: 33.0   3rd Qu.: 232.0
 Max.   :99.00   Max.   :1493.00   Max.   :199.0   Max.   :1725.0

 MntFishProducts  MntSweetProducts  MntGoldProds    NumDealsPurchases
 Min.   :  0.00   Min.   :  0.00   Min.   :  0.00   Min.   : 0.000
 1st Qu.:  3.00   1st Qu.:  1.00   1st Qu.:  9.00   1st Qu.: 1.000
 Median : 12.00   Median :  8.00   Median : 24.00   Median : 2.000
 Mean   : 37.53   Mean   : 27.06   Mean   : 44.02   Mean   : 2.325
 3rd Qu.: 50.00   3rd Qu.: 33.00   3rd Qu.: 56.00   3rd Qu.: 3.000
 Max.   :259.00   Max.   :263.00   Max.   :362.00   Max.   :15.000

 NumWebPurchases  NumCatalogPurchases NumStorePurchases NumWebVisitsMonth
 Min.   : 0.000   Min.   : 0.000      Min.   : 0.00     Min.   : 0.000
 1st Qu.: 2.000   1st Qu.: 0.000      1st Qu.: 3.00     1st Qu.: 3.000
 Median : 4.000   Median : 2.000      Median : 5.00     Median : 6.000
 Mean   : 4.085   Mean   : 2.662      Mean   : 5.79     Mean   : 5.317
 3rd Qu.: 6.000   3rd Qu.: 4.000      3rd Qu.: 8.00     3rd Qu.: 7.000
 Max.   :27.000   Max.   :28.000      Max.   :13.00     Max.   :20.000

  AcceptedCmp3      AcceptedCmp4      AcceptedCmp5      AcceptedCmp1
 Min.   :0.00000   Min.   :0.00000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.00000   Median :0.00000   Median :0.00000   Median :0.00000
 Mean   :0.07277   Mean   :0.07455   Mean   :0.07277   Mean   :0.06429
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.00000   Max.   :1.00000

  AcceptedCmp2        Complain           Response
 Min.   :0.00000   Min.   :0.000000   Min.   :0.0000
 1st Qu.:0.00000   1st Qu.:0.000000   1st Qu.:0.0000
 Median :0.00000   Median :0.000000   Median :0.0000
 Mean   :0.01339   Mean   :0.009375   Mean   :0.1491
 3rd Qu.:0.00000   3rd Qu.:0.000000   3rd Qu.:0.0000
 Max.   :1.00000   Max.   :1.000000   Max.   :1.0000

In [8]:
colnames(data)[apply(data, 2, anyNA)]
#on voit que dans la colonne Income, il y a des valeurs manquantes (24 comme on peut le voir dans le summary)

[1] "Income"

In [10]:
data$Income <-ifelse(is.na(data$Income), median(data$Income, na.rm = TRUE), data$Income)
#on remplace les valeurs manquantes par la médiane des valeurs de Income
#on utilise la médiane au lieu de la moyenne pour que les outliers (ici 6666) n'influence la valeur que l'on va prendre

In [12]:
summary(data)

       ID          Year_Birth        Education     Marital_Status
 Min.   :    0   Min.   :1893   2n Cycle  : 203   Married :864
 1st Qu.: 2828   1st Qu.:1959   Basic     :  54   Together:580
 Median : 5458   Median :1970   Graduation:1127   Single  :480
 Mean   : 5592   Mean   :1969   Master    : 370   Divorced:232
 3rd Qu.: 8428   3rd Qu.:1977   PhD       : 486   Widow   : 77
 Max.   :11191   Max.   :1996                     Alone   :  3
                                                  (Other) :  4
     Income          Kidhome          Teenhome          Dt_Customer
 Min.   :  1730   Min.   :0.0000   Min.   :0.0000   31-08-2012:  12
 1st Qu.: 35539   1st Qu.:0.0000   1st Qu.:0.0000   12-05-2014:  11
 Median : 51382   Median :0.0000   Median :0.0000   12-09-2012:  11
 Mean   : 52238   Mean   :0.4442   Mean   :0.5062   14-02-2013:  11
 3rd Qu.: 68290   3rd Qu.:1.0000   3rd Qu.:1.0000   20-08-2013:  10
 Max.   :666666   Max.   :2.0000   Max.   :2.0000   22-05-2014:  10
                                                    (Other)   :2175
    Recency         MntWines         MntFruits     MntMeatProducts
 Min.   : 0.00   Min.   :   0.00   Min.   :  0.0   Min.   :   0.0
 1st Qu.:24.00   1st Qu.:  23.75   1st Qu.:  1.0   1st Qu.:  16.0
 Median :49.00   Median : 173.50   Median :  8.0   Median :  67.0
 Mean   :49.11   Mean   : 303.94   Mean   : 26.3   Mean   : 166.9
 3rd Qu.:74.00   3rd Qu.: 504.25   3rd Qu.: 33.0   3rd Qu.: 232.0
 Max.   :99.00   Max.   :1493.00   Max.   :199.0   Max.   :1725.0

 MntFishProducts  MntSweetProducts  MntGoldProds    NumDealsPurchases
 Min.   :  0.00   Min.   :  0.00   Min.   :  0.00   Min.   : 0.000
 1st Qu.:  3.00   1st Qu.:  1.00   1st Qu.:  9.00   1st Qu.: 1.000
 Median : 12.00   Median :  8.00   Median : 24.00   Median : 2.000
 Mean   : 37.53   Mean   : 27.06   Mean   : 44.02   Mean   : 2.325
 3rd Qu.: 50.00   3rd Qu.: 33.00   3rd Qu.: 56.00   3rd Qu.: 3.000
 Max.   :259.00   Max.   :263.00   Max.   :362.00   Max.   :15.000

 NumWebPurchases  NumCatalogPurchases NumStorePurchases NumWebVisitsMonth
 Min.   : 0.000   Min.   : 0.000      Min.   : 0.00     Min.   : 0.000
 1st Qu.: 2.000   1st Qu.: 0.000      1st Qu.: 3.00     1st Qu.: 3.000
 Median : 4.000   Median : 2.000      Median : 5.00     Median : 6.000
 Mean   : 4.085   Mean   : 2.662      Mean   : 5.79     Mean   : 5.317
 3rd Qu.: 6.000   3rd Qu.: 4.000      3rd Qu.: 8.00     3rd Qu.: 7.000
 Max.   :27.000   Max.   :28.000      Max.   :13.00     Max.   :20.000

  AcceptedCmp3      AcceptedCmp4      AcceptedCmp5      AcceptedCmp1
 Min.   :0.00000   Min.   :0.00000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.00000   Median :0.00000   Median :0.00000   Median :0.00000
 Mean   :0.07277   Mean   :0.07455   Mean   :0.07277   Mean   :0.06429
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.00000   Max.   :1.00000

  AcceptedCmp2        Complain           Response
 Min.   :0.00000   Min.   :0.000000   Min.   :0.0000
 1st Qu.:0.00000   1st Qu.:0.000000   1st Qu.:0.0000
 Median :0.00000   Median :0.000000   Median :0.0000
 Mean   :0.01339   Mean   :0.009375   Mean   :0.1491
 3rd Qu.:0.00000   3rd Qu.:0.000000   3rd Qu.:0.0000
 Max.   :1.00000   Max.   :1.000000   Max.   :1.0000

In [16]:
#on met en facteur les variables qualitatives pour pouvoir travailler dessus
data[, "Education"] <- as.factor(data[, "Education"])
data[, "Marital_Status"] <- as.factor(data[, "Marital_Status"])
data[, "Kidhome"] <- as.factor(data[, "Kidhome"])
data[, "Teenhome"] <- as.factor(data[, "Teenhome"])
data[, "AcceptedCmp3"] <- as.factor(data[, "AcceptedCmp3"])
data[, "AcceptedCmp4"] <- as.factor(data[, "AcceptedCmp4"])
data[, "AcceptedCmp5"] <- as.factor(data[, "AcceptedCmp5"])
data[, "AcceptedCmp1"] <- as.factor(data[, "AcceptedCmp1"])
data[, "AcceptedCmp2"] <- as.factor(data[, "AcceptedCmp2"])
data[, "Complain"] <- as.factor(data[, "Complain"])
data[, "Response"] <- as.factor(data[, "Response"])

In [36]:
ggplot(data, aes(x = Groupe, y = Valeur, fill = Groupe)) +
  geom_boxplot() +
  theme_minimal() +
  labs(title = "Boxplot des valeurs par groupe", x = "Groupe", y = "Valeur") +
  scale_fill_brewer(palette = "Set2")

ERROR: Error in ggplot(data, aes(x = Groupe, y = Valeur, fill = Groupe)): impossible de trouver la fonction "ggplot"

In [44]:
library(corrplot)
corrplot(cor(data[, c(2, 5,9:19)]),method="ellipse")

ERROR: Error in library(corrplot): there is no package called 'corrplot'

In [ ]:
library(gplots)
library(ggplot2)
library(graphics)

In [ ]:
boxplot(data$Income)

In [ ]:
par(mfrow = c(2, 4))  
boxplot(data$Income)
boxplot(data$Year_Birth)
boxplot(data$Dt_Customer)
boxplot(data$Recency)
boxplot(data$MntFruits)
boxplot(data$MntWines)
boxplot(data$MntMeatProducts)
boxplot(data$MntFishProducts)