**Projet Data Analysis_R**

L’analyse de la personnalité des clients est une analyse détaillée des clients idéaux d’une entreprise. Elle aide une entreprise à mieux comprendre ses clients et lui permet de modifier plus facilement ses produits en fonction des besoins, comportements et préoccupations spécifiques des différents types de clients.

L’analyse de la personnalité des clients aide une entreprise à adapter son produit en fonction de ses clients cibles provenant de différents segments de clientèle. Par exemple, au lieu de dépenser de l’argent pour commercialiser un nouveau produit auprès de tous les clients de la base de données de l’entreprise, une entreprise peut analyser quel segment de clientèle est le plus susceptible d’acheter le produit et ensuite commercialiser le produit uniquement auprès de ce segment particulier.

données :

Questions :

Qualité du jeu de données proposé? Un pre-processing des données est-il nécessaire? Comment se comportent les différentes variables entre elles? Les achats dépendent-ils du style de vie de l'acheteur (famille, marié, revenu etc)? Les promotions proposées sont elles efficaces ? Sur quels types de clients ? Sur quels types de produits ? Quels endroits de ventes sont le plus utilisés ? Sur quels types de clients ? Sur quels types de produits ? Des profils de clients se dessinent-ils ? Si oui, quels types de clients, quels types d'achats, grace à quels endroits de ventes ?

In [13]:
data <- read.csv("marketing_campaign.csv", header=TRUE, sep="\t")
head(data)

  ID   Year_Birth Education  Marital_Status Income Kidhome Teenhome Dt_Customer
1 5524 1957       Graduation Single         58138  0       0        04-09-2012
2 2174 1954       Graduation Single         46344  1       1        08-03-2014
3 4141 1965       Graduation Together       71613  0       0        21-08-2013
4 6182 1984       Graduation Together       26646  1       0        10-02-2014
5 5324 1981       PhD        Married        58293  1       0        19-01-2014
6 7446 1967       Master     Together       62513  0       1        09-09-2013
  Recency MntWines ⋯ NumWebVisitsMonth AcceptedCmp3 AcceptedCmp4 AcceptedCmp5
1 58      635      ⋯ 7                 0            0            0
2 38       11      ⋯ 5                 0            0            0
3 26      426      ⋯ 4                 0            0            0
4 26       11      ⋯ 6                 0            0            0
5 94      173      ⋯ 5                 0            0            0
6 16      520      ⋯ 6                 0            0            0
  AcceptedCmp1 AcceptedCmp2 Complain Z_CostContact Z_Revenue Response
1 0            0            0        3             11        1
2 0            0            0        3             11        0
3 0            0            0        3             11        0
4 0            0            0        3             11        0
5 0            0            0        3             11        0
6 0            0            0        3             11        0

In [14]:
summary(data)

       ID          Year_Birth    Education         Marital_Status
 Min.   :    0   Min.   :1893   Length:2240        Length:2240
 1st Qu.: 2828   1st Qu.:1959   Class :character   Class :character
 Median : 5458   Median :1970   Mode  :character   Mode  :character
 Mean   : 5592   Mean   :1969
 3rd Qu.: 8428   3rd Qu.:1977
 Max.   :11191   Max.   :1996

     Income          Kidhome          Teenhome      Dt_Customer
 Min.   :  1730   Min.   :0.0000   Min.   :0.0000   Length:2240
 1st Qu.: 35303   1st Qu.:0.0000   1st Qu.:0.0000   Class :character
 Median : 51382   Median :0.0000   Median :0.0000   Mode  :character
 Mean   : 52247   Mean   :0.4442   Mean   :0.5062
 3rd Qu.: 68522   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :666666   Max.   :2.0000   Max.   :2.0000
 NA's   :24
    Recency         MntWines         MntFruits     MntMeatProducts
 Min.   : 0.00   Min.   :   0.00   Min.   :  0.0   Min.   :   0.0
 1st Qu.:24.00   1st Qu.:  23.75   1st Qu.:  1.0   1st Qu.:  16.0
 Median :49.00   Median : 173.50   Median :  8.0   Median :  67.0
 Mean   :49.11   Mean   : 303.94   Mean   : 26.3   Mean   : 166.9
 3rd Qu.:74.00   3rd Qu.: 504.25   3rd Qu.: 33.0   3rd Qu.: 232.0
 Max.   :99.00   Max.   :1493.00   Max.   :199.0   Max.   :1725.0

 MntFishProducts  MntSweetProducts  MntGoldProds    NumDealsPurchases
 Min.   :  0.00   Min.   :  0.00   Min.   :  0.00   Min.   : 0.000
 1st Qu.:  3.00   1st Qu.:  1.00   1st Qu.:  9.00   1st Qu.: 1.000
 Median : 12.00   Median :  8.00   Median : 24.00   Median : 2.000
 Mean   : 37.53   Mean   : 27.06   Mean   : 44.02   Mean   : 2.325
 3rd Qu.: 50.00   3rd Qu.: 33.00   3rd Qu.: 56.00   3rd Qu.: 3.000
 Max.   :259.00   Max.   :263.00   Max.   :362.00   Max.   :15.000

 NumWebPurchases  NumCatalogPurchases NumStorePurchases NumWebVisitsMonth
 Min.   : 0.000   Min.   : 0.000      Min.   : 0.00     Min.   : 0.000
 1st Qu.: 2.000   1st Qu.: 0.000      1st Qu.: 3.00     1st Qu.: 3.000
 Median : 4.000   Median : 2.000      Median : 5.00     Median : 6.000
 Mean   : 4.085   Mean   : 2.662      Mean   : 5.79     Mean   : 5.317
 3rd Qu.: 6.000   3rd Qu.: 4.000      3rd Qu.: 8.00     3rd Qu.: 7.000
 Max.   :27.000   Max.   :28.000      Max.   :13.00     Max.   :20.000

  AcceptedCmp3      AcceptedCmp4      AcceptedCmp5      AcceptedCmp1
 Min.   :0.00000   Min.   :0.00000   Min.   :0.00000   Min.   :0.00000
 1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000   1st Qu.:0.00000
 Median :0.00000   Median :0.00000   Median :0.00000   Median :0.00000
 Mean   :0.07277   Mean   :0.07455   Mean   :0.07277   Mean   :0.06429
 3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000   3rd Qu.:0.00000
 Max.   :1.00000   Max.   :1.00000   Max.   :1.00000   Max.   :1.00000

  AcceptedCmp2        Complain        Z_CostContact   Z_Revenue
 Min.   :0.00000   Min.   :0.000000   Min.   :3     Min.   :11
 1st Qu.:0.00000   1st Qu.:0.000000   1st Qu.:3     1st Qu.:11
 Median :0.00000   Median :0.000000   Median :3     Median :11
 Mean   :0.01339   Mean   :0.009375   Mean   :3     Mean   :11
 3rd Qu.:0.00000   3rd Qu.:0.000000   3rd Qu.:3     3rd Qu.:11
 Max.   :1.00000   Max.   :1.000000   Max.   :3     Max.   :11

    Response
 Min.   :0.0000
 1st Qu.:0.0000
 Median :0.0000
 Mean   :0.1491
 3rd Qu.:0.0000
 Max.   :1.0000

In [21]:
data[, "Education"] <- as.factor(data[, "Education"])
data[, "Marital_Status"] <- as.factor(data[, "Marital_Status"])
data[, "Kidhome"] <- as.factor(data[, "Kidhome"])
data[, "AcceptedCmp3"] <- as.factor(data[, "AcceptedCmp3"])
data[, "AcceptedCmp4"] <- as.factor(data[, "AcceptedCmp4"])
data[, "AcceptedCmp5"] <- as.factor(data[, "AcceptedCmp5"])